@model HMS.Web.Models.ForgotPasswordVM

@{
	ViewData["Title"] = "Forgot password confirmation";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewData["Title"]</h1>

<p>
	Please check your email to reset your password.
</p>